<!doctype html>
<html lang="en">

<head>
  <% include ../../partials/head %>
</head>

<body class="profile-page">

  <!-- Include Top Nav -->
  <% include ../../partials/top_nav %>

  <!-- Start Content -->
  <div class="wrapper">
    <div id="header-row" class="header even-row">
    </div>

    <div class="profile-content">
      <div id="full-width-body" class="container">

        <!-- Begin Work Experience -->
        <section>
          <div class="row odd-row">
            <div class="theme-content-container resume-experience-row">
              <div class="resume-experience-category-label">
                <h2>Work</h2>
              </div>

              <div class="resume-experience-content-container">
                <h4>Director of Custom Software Development</h4>
                <h5>PeachWorks</h5>
                <p class="contrast-small">
                  I oversee two projects. One is our legacy software built on a LAMP stack. This project is about 75% maintenance and 25% new development. I oversee myself and 1.5 other developers on this project. The other project is building custom enterprise AngularJS apps for our enterprise clients. I oversee a team that varies from one to five other developers. In general, I spend about 30% time working in PHP, 10% time working in Angular (with just a little React recently), and the remaining 60% on team management, product management, and project management.
                </p>
              </div>
              <div class="col-lg-3">
                <h4>Jan 2016 - CURRENT</h4>
              </div>
            </div>
          </div>

          <div class="row odd-row">
            <div class="theme-content-container resume-experience-row">
              <div class="resume-experience-category-label">
                <h2></h2>
              </div>

              <div class="resume-experience-content-container">
                <h4>Director of Engineering</h4>
                <h5>PeachWorks</h5>
                <p class="contrast-small">
                  I was responsible for oversight of the engineering department. I oversaw four teams. One developing our Node.js platform, one developing internal AngularJS apps on our platform, one building custom enterprise AngularJS apps, and one working on our LAMP stack. Duties included staffing, team leadership, project management, support, coding, code reviews, QA oversight, strategic product planning. My total team size varied between 12 and 15 developers as well as 2-3 QA analysts.
                </p>
              </div>
              <div class="col-lg-3">
                <h4>Jan 2014 - Jan 2016</h4>
              </div>
            </div>
          </div>

          <div class="row odd-row">
            <div class="theme-content-container resume-experience-row">
              <div class="resume-experience-category-label">
                <h2></h2>
              </div>

              <div class="resume-experience-content-container">
                <h4>Full Stack Developer</h4>
                <h5>PeachWorks</h5>
                <p class="contrast-small">
                  I was a developer working on a LAMP stack. Handled day to day programming tasks, and coordinated with QA team on testing. Also coordinated with engineering managers to design stable, performant solutions.
                </p>
              </div>
              <div class="col-lg-3">
                <h4>Apr 2011 - Jan 2014</h4>
              </div>
            </div>
          </div>

          <div class="row odd-row">
            <div class="theme-content-container resume-experience-row">
              <div class="resume-experience-category-label">
                <h2></h2>
              </div>

              <div class="resume-experience-content-container">
                <h4>Software Developer</h4>
                <h5>Mediascape</h5>
                <p class="contrast-small">
                  Mediascape was a company of four where we all wore many hats. We did custom web app development and physical media installations. On any given project roles might include spec writer, software developer, project manager, database administrator, client relations management and more.
                </p>
              </div>
              <div class="col-lg-3">
                <h4>May 2009 - Apr 2011</h4>
              </div>
            </div>
          </div>

          <div class="row odd-row">
            <div class="theme-content-container resume-experience-row">
              <div class="resume-experience-category-label">
                <h2></h2>
              </div>

              <div class="resume-experience-content-container">
                <h4>IT Support</h4>
                <h5>University of Michigan School of Natural Resources</h5>
                <p class="contrast-small">
                  I was responsible for front line support assisting professors with any and
              all softare and hardware related issues. I also managed A/V equipment scheduling
              and setup for classes and events.
                </p>
              </div>
              <div class="col-lg-3">
                <h4>Jun 2007 - May 2009</h4>
              </div>
            </div>
          </div>

          <div class="row odd-row">
            <div class="theme-content-container resume-experience-row">
              <div class="resume-experience-category-label">
                <h2></h2>
              </div>

              <div class="resume-experience-content-container">
                <h4>Line Cook</h4>
                <h5>Red Hawk Bar and Grill</h5>
                <p class="contrast-small">
                  Red Hawk Bar and Grill is a high volume American Fare restaurant in downtown Ann Arbor. This position included typical line cooking duties, and prep work. I also supervised shifts regularly and helped with ordering and menu planning as needed.
                </p>
              </div>
              <div class="col-lg-3">
                <h4>Dec 2003 - Jun 2007</h4>
              </div>
            </div>
          </div>

          <div class="row odd-row">
            <div class="theme-content-container resume-experience-row">
              <div class="resume-experience-category-label">
                <h2></h2>
              </div>

              <div class="resume-experience-content-container">
                <h4>Senior Supervisor</h4>
                <h5>Zingerman's Delicatessen</h5>
                <p class="contrast-small">
                  Zingerman’s Delicatessan is a high end Jewish Deli in Downtown Ann Arbor. I was responsible for supervision of day to day operations on their production line, ordering, menu planning and costing, staffing, and any other needs that came up.
                </p>
              </div>
              <div class="col-lg-3">
                <h4>Apr 1996 - Dec 2003</h4>
              </div>
            </div>
          </div>
        </section><!-- End Work Experience -->

        <!-- Begin Education -->
        <div class="row odd-row">
          <div class="theme-content-container resume-experience-row">
            <div class="resume-experience-category-label">
              <h3>Education</h2>
            </div>

            <div class="resume-experience-content-container">
              <h4>University of Michigan</h4>
              <h5>bachelor's degree Computer Science</h5>
              <p class="contrast-small">
              </p>
            </div>
            <div class="col-lg-3">
              <h4>Apr 2010</h4>
            </div>
          </div>
        </div> <!-- End Education -->

        <!-- Begin Skills -->
        <div id="skills-label-row" class="row even-row">
          <div class="theme-content-container">
            <div class="resume-skills-label">
              <h3 class="white-font">Skills</h3>
            </div>
          </div>
        </div>

        <div class="row even-row">

          <div class="well theme-content-container resume-skills-row">            
            <!-- Start Skills Column 1 -->      
            <div class="resume-skills-column">
              <div class="skills"> 

                <h3>Back End</h3>

                <div class="progress-wrap">
                  <h6>Obect Oriented Programming</h6>
                  <div class="progress">
                    <div class="progress-bar high_color" role="progressbar" aria-valuenow="90" aria-valuemin="0" aria-valuemax="100" style="width: 90%">
                      <span class="bar-width">90</span>
                    </div>
                  </div>
                </div>

                <div class="progress-wrap">
                  <h6>PHP</h6>
                  <div class="progress">
                    <div class="progress-bar  high_color" role="progressbar" aria-valuenow="90" aria-valuemin="0" aria-valuemax="100" style="width: 90%" >
                      <span class="bar-width">90</span>
                    </div>

                  </div>
                </div>


                <div class="progress-wrap">
                  <h6>ES5</h6>
                  <div class="progress">
                    <div class="progress-bar high_color" role="progressbar" aria-valuenow="85" aria-valuemin="0" aria-valuemax="100" style="width: 85%">
                      <span class="bar-width">85</span>
                    </div>
                  </div>
                </div>

                <div class="progress-wrap">
                  <h6>ES6</h6>
                  <div class="progress">
                    <div class="progress-bar low_color" role="progressbar" aria-valuenow="20" aria-valuemin="0" aria-valuemax="100" style="width: 20%">
                      <span class="bar-width">20</span>
                    </div>
                  </div>
                </div>

                <div class="progress-wrap">
                  <h6>Symfony</h6>
                  <div class="progress">
                    <div class="progress-bar medium_color" role="progressbar" aria-valuenow="60" aria-valuemin="0" aria-valuemax="100" style="width: 60%">
                      <span class="bar-width">60</span>
                    </div>
                  </div>
                </div>

                <div class="progress-wrap">
                  <h6>Silex</h6>
                  <div class="progress">
                    <div class="progress-bar medium_color" role="progressbar" aria-valuenow="60" aria-valuemin="0" aria-valuemax="100" style="width: 60%">
                      <span class="bar-width">60</span>
                    </div>
                  </div>
                </div>

                <div class="progress-wrap">
                  <h6>Kohana</h6>
                  <div class="progress">
                    <div class="progress-bar medium_color" role="progressbar" aria-valuenow="40" aria-valuemin="0" aria-valuemax="100" style="width: 40%">
                      <span class="bar-width">40</span>
                    </div>
                  </div>
                </div>

                <div class="progress-wrap">
                  <h6>Laravel</h6>
                  <div class="progress">
                    <div class="progress-bar low_color" role="progressbar" aria-valuenow="30" aria-valuemin="0" aria-valuemax="100" style="width: 30%">
                      <span class="bar-width">30</span>
                    </div>
                  </div>
                </div>

                <div class="progress-wrap">
                  <h6>PHP-MVC</h6>
                  <div class="progress">
                    <div class="progress-bar medium_color" role="progressbar" aria-valuenow="40" aria-valuemin="0" aria-valuemax="100" style="width: 40%">
                      <span class="bar-width">40</span>
                    </div>
                  </div>
                </div>

                <div class="progress-wrap">
                  <h6>Node.js</h6>
                  <div class="progress">
                    <div class="progress-bar medium_color" role="progressbar" aria-valuenow="50" aria-valuemin="0" aria-valuemax="100" style="width: 50%">
                      <span class="bar-width">50</span>
                    </div>
                  </div>
                </div>

                <div class="progress-wrap">
                  <h6>Express</h6>
                  <div class="progress">
                    <div class="progress-bar medium_color" role="progressbar" aria-valuenow="50" aria-valuemin="0" aria-valuemax="100" style="width: 50%">
                      <span class="bar-width">50</span>
                    </div>
                  </div>
                </div>

                <div class="progress-wrap">
                  <h6>Python</h6>
                  <div class="progress">
                    <div class="progress-bar medium_color" role="progressbar" aria-valuenow="40" aria-valuemin="0" aria-valuemax="100" style="width: 40%">
                      <span class="bar-width">40</span>
                    </div>
                  </div>
                </div>


                <div class="progress-wrap">
                  <h6>Apache</h6>
                  <div class="progress">
                    <div class="progress-bar low_color" role="progressbar" aria-valuenow="25" aria-valuemin="0" aria-valuemax="100" style="width: 25%">
                      <span class="bar-width">25</span>
                    </div>
                  </div>
                </div>

                

              </div>
            </div><!-- End Skills Column 1 -->

            <!-- Start Skills Column 2 -->
            <div class="resume-skills-column">
              <div class="skills">

                <h3>Front End</h3>

                <div class="progress-wrap">
                  <h6>HTML5</h6>
                  <div class="progress">
                    <div class="progress-bar high_color" role="progressbar" aria-valuenow="90" aria-valuemin="0" aria-valuemax="100" style="width: 90%">
                      <span class="bar-width">90</span>
                    </div>
                  </div>
                </div>

                <div class="progress-wrap">
                  <h6>jQuery</h6>
                  <div class="progress">
                    <div class="progress-bar medium_color" role="progressbar" aria-valuenow="50" aria-valuemin="0" aria-valuemax="100" style="width: 50%">
                      <span class="bar-width">50</span>
                    </div>
                  </div>
                </div>

                <div class="progress-wrap">
                  <h6>AngularJS 1.x</h6>
                  <div class="progress">
                    <div class="progress-bar high_color" role="progressbar" aria-valuenow="70" aria-valuemin="0" aria-valuemax="100" style="width: 70%">
                      <span class="bar-width">70</span>
                    </div>
                  </div>
                </div>

                <div class="progress-wrap">
                  <h6>AngularJS 2.x</h6>
                  <div class="progress">
                    <div class="progress-bar low_color" role="progressbar" aria-valuenow="20" aria-valuemin="0" aria-valuemax="100" style="width: 20%">
                      <span class="bar-width">20</span>
                    </div>
                  </div>
                </div>

                <div class="progress-wrap">
                  <h6>CSS</h6>
                  <div class="progress">
                    <div class="progress-bar high_color" role="progressbar" aria-valuenow="70" aria-valuemin="0" aria-valuemax="100" style="width: 70%">
                      <span class="bar-width">70</span>
                    </div>
                  </div>
                </div>

                <div class="progress-wrap">
                  <h6>Less</h6>
                  <div class="progress">
                    <div class="progress-bar medium_color" role="progressbar" aria-valuenow="50" aria-valuemin="0" aria-valuemax="100" style="width: 50%">
                      <span class="bar-width">50</span>
                    </div>
                  </div>
                </div>

                <div class="progress-wrap">
                  <h6>Sass</h6>
                  <div class="progress">
                    <div class="progress-bar medium_color" role="progressbar" aria-valuenow="40" aria-valuemin="0" aria-valuemax="100" style="width: 40%">
                      <span class="bar-width">40</span>
                    </div>
                  </div>
                </div>

                <div class="progress-wrap">
                  <h6>Jasmine</h6>
                  <div class="progress">
                    <div class="progress-bar low_color" role="progressbar" aria-valuenow="30" aria-valuemin="0" aria-valuemax="100" style="width: 30%">
                      <span class="bar-width">30</span>
                    </div>
                  </div>
                </div>

                <div class="progress-wrap">
                  <h6>Karma</h6>
                  <div class="progress">
                    <div class="progress-bar low_color" role="progressbar" aria-valuenow="30" aria-valuemin="0" aria-valuemax="100" style="width: 30%">
                      <span class="bar-width">30</span>
                    </div>
                  </div>
                </div>
              </div>

              <div class="skills">
                <h3>Data Layer</h3>

                <div class="progress-wrap">
                  <h6>MySQL</h6>
                  <div class="progress">
                    <div class="progress-bar high_color" role="progressbar" aria-valuenow="80" aria-valuemin="0" aria-valuemax="100" style="width: 80%">
                       <span class="bar-width">80</span>
                    </div>
                  </div>
                </div>

                <div class="progress-wrap">
                  <h6>PostgreSQL</h6>
                  <div class="progress">
                    <div class="progress-bar medium_color" role="progressbar" aria-valuenow="60" aria-valuemin="0" aria-valuemax="100" style="width: 60%">
                      <span class="bar-width">60</span>
                    </div>
                  </div>
                </div>

                <div class="progress-wrap">
                  <h6>s3</h6>
                  <div class="progress">
                    <div class="progress-bar medium_color" role="progressbar" aria-valuenow="40" aria-valuemin="0" aria-valuemax="100" style="width: 40%">
                      <span class="bar-width">40</span>
                    </div>
                  </div>
                </div>

                <div class="progress-wrap">
                  <h6>Redis</h6>
                  <div class="progress">
                    <div class="progress-bar medium_color" role="progressbar" aria-valuenow="40" aria-valuemin="0" aria-valuemax="100" style="width: 40%">
                      <span class="bar-width">40</span>
                    </div>
                  </div>
                </div>

                <div class="progress-wrap">
                  <h6>Sequelize</h6>
                  <div class="progress">
                    <div class="progress-bar low_color" role="progressbar" aria-valuenow="30" aria-valuemin="0" aria-valuemax="100" style="width: 30%">
                      <span class="bar-width">30</span>
                    </div>
                  </div>
                </div>

              </div>
            </div><!-- End Skills Column 2 -->

            <!-- Start Skills Column 3 -->
            <div class="resume-skills-column">
              <div class="skills">

                <h3>Utilities</h3>

                <div class="progress-wrap">
                  <h6>Git/Github</h6>
                  <div class="progress">
                    <div class="progress-bar high_color" role="progressbar" aria-valuenow="90" aria-valuemin="0" aria-valuemax="100" style="width: 90%">
                      <span class="bar-width">90</span>
                    </div>
                  </div>
                </div>

                <div class="progress-wrap">
                  <h6>Linux CLI</h6>
                  <div class="progress">
                    <div class="progress-bar high_color" role="progressbar" aria-valuenow="80" aria-valuemin="0" aria-valuemax="100" style="width: 80%">
                      <span class="bar-width">80</span>
                    </div>
                  </div>
                </div>

                <div class="progress-wrap">
                  <h6>Bash Scripting</h6>
                  <div class="progress">
                    <div class="progress-bar low_color" role="progressbar" aria-valuenow="35" aria-valuemin="0" aria-valuemax="100" style="width: 35%">
                      <span class="bar-width">35</span>
                    </div>
                  </div>
                </div>

                <div class="progress-wrap">
                  <h6>Vim</h6>
                  <div class="progress">
                    <div class="progress-bar high_color" role="progressbar" aria-valuenow="80" aria-valuemin="0" aria-valuemax="100" style="width: 80%">
                      <span class="bar-width">80</span>
                    </div>
                  </div>
                </div>

                <div class="progress-wrap">
                  <h6>Sublime Text</h6>
                  <div class="progress">
                    <div class="progress-bar low_color" role="progressbar" aria-valuenow="60" aria-valuemin="0" aria-valuemax="100" style="width: 60%">
                      <span class="bar-width">60</span>
                    </div>
                  </div>
                </div>
              </div>

              <div class="skills">

                <h3>Management</h3>

                <div class="progress-wrap">
                  <h6>Agile Management</h6>
                  <div class="progress">
                    <div class="progress-bar high_color" role="progressbar" aria-valuenow="90" aria-valuemin="0" aria-valuemax="100" style="width: 90%">
                      <span class="bar-width">90</span>
                    </div>
                  </div>
                </div>

                <div class="progress-wrap">
                  <h6>Team Leadership</h6>
                  <div class="progress">
                    <div class="progress-bar high_color" role="progressbar" aria-valuenow="90" aria-valuemin="0" aria-valuemax="100" style="width: 90%">
                      <span class="bar-width">90</span>
                    </div>
                  </div>
                </div>

                <div class="progress-wrap">
                  <h6>Jira Administration</h6>
                  <div class="progress">
                    <div class="progress-bar high_color" role="progressbar" aria-valuenow="80" aria-valuemin="0" aria-valuemax="100" style="width: 80%">
                      <span class="bar-width">80</span>
                    </div>
                  </div>
                </div>

                <div class="progress-wrap">
                  <h6>Interviewing</h6>
                  <div class="progress">
                    <div class="progress-bar high_color" role="progressbar" aria-valuenow="85" aria-valuemin="0" aria-valuemax="100" style="width: 85%">
                      <span class="bar-width">85</span>
                    </div>
                  </div>
                </div>

                <div class="progress-wrap">
                  <h6>Client Relations</h6>
                  <div class="progress">
                    <div class="progress-bar high_color" role="progressbar" aria-valuenow="90" aria-valuemin="0" aria-valuemax="100" style="width: 90%">
                      <span class="bar-width">90</span>
                    </div>
                  </div>
                </div>

              </div>
            </div><!-- End Skills Column 3 -->

          </div>
        </div> <!-- End Skills -->

      </div>
    </div>
  </div>

  <% include ../../partials/footer %>

</body>

<% include ../../partials/post_scripts %>

</html>
