<!doctype html>
<html lang="en">

<head>
  <% include ../../partials/head %>
</head>

<body class="profile-page">

  <!-- Include Top Nav -->
  <% include ../../partials/top_nav %>

  <!-- Start Content -->
  <div class="wrapper">
    <div id="header-row" class="header even-row">
    </div>

    <div class="profile-content">
      <div id="full-width-body" class="container">

        <!-- Begin Row 1 -->
        <div class="row odd-row">
          <div class="col-md-6 col-md-offset-3">
            <p>
              Spicy jalapeno bacon ipsum dolor amet porchetta salami prosciutto, fatback jowl ribeye short loin flank sausage pig tri-tip kevin shank tongue burgdoggen. Pork belly ham pancetta bacon, brisket tongue andouille cupim burgdoggen shank. Hamburger shoulder cow filet mignon short loin. Sirloin short loin fatback, sausage salami ball tip capicola jerky. Prosciutto jowl meatball, corned beef pork chop shankle brisket drumstick leberkas ham.
            </p>
          </div>
        </div><!-- End Row 1 -->

        <!-- Begin Row 2 -->
        <div class="row even-row">
          <div class="col-md-6 col-md-offset-3">
            <p class="white-font">
              Spicy jalapeno bacon ipsum dolor amet porchetta salami prosciutto, fatback jowl ribeye short loin flank sausage pig tri-tip kevin shank tongue burgdoggen. Pork belly ham pancetta bacon, brisket tongue andouille cupim burgdoggen shank. Hamburger shoulder cow filet mignon short loin. Sirloin short loin fatback, sausage salami ball tip capicola jerky. Prosciutto jowl meatball, corned beef pork chop shankle brisket drumstick leberkas ham.
            </p>
          </div>
        </div><!-- End Row 2 -->

      </div>
    </div>
  </div>

  <% include ../../partials/footer %>

</body>

<% include ../../partials/post_scripts %>

</html>
