<footer id="page_footer" class="footer">
  <div id="footer_row" class="col-md-6 col-md-offset-3">
    <nav class="pull-left">
      <ul>
        <li>
          <a class="footer_link" href="#">Site Map</a>
        </li>
      </ul>
    </nav>
    <div class="copyright pull-right">
        &copy; 2016, Adam Gainsley
    </div>
  </div>
</footer>