<!doctype html>
<html lang="en">

<head>
  <% include head %>
</head>

<body class="profile-page">

  <!-- Begin Top Nav -->
  <% include top_nav %>

  <!-- Start Content -->
  <div class="wrapper">
    <div id="header-row" class="header even-row">
    </div>

    <div id="content-container" class="main main-raised">
      <div class="profile-content">