<!doctype html>
<html lang="en">

<head>
  <% include ../../partials/head %>

  <link href="//cdnjs.cloudflare.com/ajax/libs/ekko-lightbox/5.0.0/ekko-lightbox.css" rel="stylesheet">

</head>

<body class="profile-page">

  <!-- Include Top Nav -->
  <% include ../../partials/top_nav %>

  <!-- Start Content -->
  <div class="wrapper">
    <div id="header-row" class="header even-row">
    </div>

    <div class="profile-content">
      <div id="full-width-body" class="container">
        <div class="row odd-row">
          <div class="theme-content-container">
            <div class="btn-group" role="group" aria-label="...">
              <button type="button" class="btn btn-default">Photography</button>
              <button type="button" class="btn btn-default">Development</button>
            </div>
          </div>
        </div>


        <!-- Begin Row 1 -->
        <div class="row odd-row">
          <div class="theme-content-container">
            <a href="img/portrait.jpg" data-toggle="lightbox" data-gallery="example-gallery" data-footer="here's a really long long long long long Equal parts explorer and technologist. Lover of good design and 
                intelligent interfaces. Consumer of APIs. Developer of the web. 
                Builder of products. Photographer. Gourmet and gourmand. Local 
                political junky. Serious casual gamer. Wanderer. Hobby collector. 
                Above all father and husband." class="col-sm-4 gallery-link">
                <img src="img/portrait.jpg" class="img-fluid">
            </a>
            <a href="img/portrait.jpg" data-toggle="lightbox" data-gallery="portfolio" class="col-sm-4 gallery-link">
                <img src="img/portrait.jpg" class="img-fluid">
            </a>
            <a href="img/portrait.jpg" data-toggle="lightbox" data-gallery="portfolio" class="col-sm-4 gallery-link">
                <img src="img/portrait.jpg" class="img-fluid">
            </a>
            <a href="img/portrait.jpg" data-toggle="lightbox" data-gallery="portfolio" class="col-sm-4 gallery-link">
                <img src="img/portrait.jpg" class="img-fluid">
            </a>
            <a href="img/portrait.jpg" data-toggle="lightbox" data-gallery="portfolio" class="col-sm-4 gallery-link">
                <img src="img/portrait.jpg" class="img-fluid">
            </a>
            <a href="img/portrait.jpg" data-toggle="lightbox" data-gallery="portfolio" class="col-sm-4 gallery-link">
                <img src="img/portrait.jpg" class="img-fluid">
            </a>
          </div>
        </div><!-- End Row 1 -->

        <!-- Begin Row 2 -->
        <div class="row even-row">
          <div class="col-md-6 col-md-offset-3">
            <p class="white-font">
              Spicy jalapeno bacon ipsum dolor amet porchetta salami prosciutto, fatback jowl ribeye short loin flank sausage pig tri-tip kevin shank tongue burgdoggen. Pork belly ham pancetta bacon, brisket tongue andouille cupim burgdoggen shank. Hamburger shoulder cow filet mignon short loin. Sirloin short loin fatback, sausage salami ball tip capicola jerky. Prosciutto jowl meatball, corned beef pork chop shankle brisket drumstick leberkas ham.
            </p>
          </div>
        </div><!-- End Row 2 -->

      </div>
    </div>
  </div>

  <% include ../../partials/footer %>

</body>

<% include ../../partials/post_scripts %>

<script src="//cdnjs.cloudflare.com/ajax/libs/ekko-lightbox/5.0.0/ekko-lightbox.js"></script>
<script type="text/javascript">
  $(document).on('click', '[data-toggle="lightbox"]', function(event) {
    event.preventDefault();
    $(this).ekkoLightbox();
  });
</script>

</html>
